.gbt_18_mc_slider_wrapper {

	position: relative;

	.swiper-container {

		&.full_height {
			height: 100vh;
		}

		@media all and (max-width: 767px) {
			max-height: 600px;
		}
	}

	.swiper-slide {
		background-position: center;
		background-size: cover;
		text-align: center;
		position: relative;
		display: table;

		&.left {
			.slider-content-wrapper {
				text-align: left;
				margin-left: 7%;
			}
		}

		&.right {
			.slider-content-wrapper {
				text-align: right;
				margin-right: 7%;
			}
		}

		.gbt_18_mc_slide_description {
		    margin: 25px 10% 0 10%;

			@media all and (max-width: 767px) {
				font-size: 16px !important;
			}
		}

		.gbt_18_mc_slide_title {
			line-height: 1;
			margin: 0 10%;

			@media all and (max-width: 767px) {
				font-size: 32px !important;
			}
		}

		.gbt_18_mc_slide_button {
			text-transform: uppercase;
			transition: all 0.3s ease-out;
			border-color: transparent;
			text-decoration: none;
			margin: 25px 10% 0 10%;

			&:hover {
				opacity: .7;
			}
		}

		.slider-content {
			display: table-cell;
			vertical-align: middle;
			text-align: center;
		}

		.fullslidelink
		{
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 2;
		}

	}

	.gbt_18_mc_slider_button_prev,
	.gbt_18_mc_slider_button_next {
	    position: absolute;
	    z-index: 10;
	    outline: 0;
        height: 14px;
        width: 75px;
	    cursor: pointer;
	    display: block;
		bottom: 50px;
        transition: all .3s;
	}

	.gbt_18_mc_slider_button_prev {
        left: 50px;

		&:hover {
			left: 40px;
		}
	}

	.gbt_18_mc_slider_button_next {
        right: 50px;

		&:hover {
			right: 40px;
		}
	}

    .swiper-slide {

		.slider-content-wrapper {
			width: 50%;
			position: relative;
			margin: 0 auto;
			text-align: center;
			padding: 0;
			box-sizing: border-box;

			@media all and (max-width: 767px) {
				padding: 0 25px;
				width: 100%;
			}

			@media all and (min-width: 768px) and (max-width: 1023px) {
				width: 75%;
			}
		}
	}

	.gbt_18_mc_slider_pagination.swiper-pagination-bullets {

		display: block;
		position: absolute;
		right: 165px;
		bottom: 35px;
		z-index: 9999;
		width: auto;
		text-align: right;

		@media only screen and (max-width: 63.95em) {
			right: 50px;
		}

		.swiper-pagination-bullet {
			display: inline-block;
			border: 2px solid transparent;
			margin: 0 3px;
			background: none;
			font-family: var(--global--font-primary);
			font-size: 14px;
			font-weight: bold;
			outline: 0;
			opacity: 1;
			line-height: 30px;
			text-align: center;
			vertical-align: middle;
			width: 35px;
			height: 35px;
			transition: all .3s ease;

			&:hover,
			&.swiper-pagination-bullet-active {
				border: 2px solid currentColor;
			}

		}
	}

	@media only screen and (max-width: 63.95em) {
		.gbt_18_mc_slider_button_prev,
		.gbt_18_mc_slider_button_next {
			display: none;
		}
	}
}
