.gbt_18_mc_editor_slide_wrapper
{
	max-height: 1000px;
    background-size: cover;
    width: 100%;
    background-position: center center;

    .gbt_18_mc_editor_slide_content
    {
    	width: 80%;
    	word-break: break-word;
    	margin: auto;
    	height: 100%;
    	padding: 125px 0;

    	h2, p
    	{
    		line-height: 1.1;
    	}

        .gbt_18_mc_editor_slide_title {
            margin-bottom: 20px;

			h2 {
				margin: 0;
			}
        }

        .gbt_18_mc_editor_slide_button {
            text-transform: uppercase;

			.gbt_18_mc_editor_slide_button_input {
				font-size: 0.8rem;
				margin-top: 35px;
				padding: 1.31111rem 2.22222rem 1.26667rem 2.22222rem;
			}
        }

    	.gbt_18_mc_editor_slide_container
    	{
    		width: 70%;

    		&.align-center
    		{
    			margin: auto;

    			.gbt_18_mc_editor_slide_button .gbt_18_mc_editor_slide_button_input
    			{
    				margin: 40px auto 0;
    			}
    		}

    		&.align-right
    		{
    			margin: 0 0 0 auto;

    			.gbt_18_mc_editor_slide_button .gbt_18_mc_editor_slide_button_input
    			{
    				margin: 35px 0 0 auto;
    			}
    		}

    		.gbt_18_mc_editor_slide_description
    		{
    			p
    			{
				    font-weight: normal;
    			}
    		}
    	}
    }

	.gbt_18_mc_editor_slide_button_input
	{
		padding: 1rem;
    	width: fit-content;
	}

	.gbt_18_mc_slide_remove_image_button,
	.gbt_18_mc_slide_add_image_button {
		position: absolute;
	    top: 15px;
	    left: 15px;
		opacity: 0;
		visibility: hidden;
		transition: all .2s ease-in-out;
	}
}

.editor-block-list__block[data-type="getbowtied/mc-slide"] {

	&.is-selected,
	&.is-hovered,
	&.is-typing {
		.gbt_18_mc_slide_remove_image_button,
		.gbt_18_mc_slide_add_image_button {
			opacity: 1;
			visibility: visible;
			transition: all .2s ease-in-out;
		}
	}
}

.editor-block-list__block[data-type="getbowtied/mc-slider"][data-align="wide"],
.editor-block-list__block[data-type="getbowtied/mc-slider"][data-align="full"] {
	.editor-block-list__block {
		max-width: 100%;
	}
}
