.wp-block-gbt-slider
{
	margin-bottom: 2.5rem;
	
	.swiper-container
	{
		@media all and (max-width: 639px) {
			max-height: 600px;
		}
	}

	.swiper-slide
	{
		background-size: cover !important;
	}

	.swiper-container.full_height
	{
	    height: 100vh !important;
	}

	&.alignwide
	{
		@media all and (min-width: 1024px) {
    		width: 75vw;
			margin-left: 50%;
			transform: translateX(-50%);
		}
	}

	&.alignfull
	{
		@media all and (min-width: 1024px) {
    		width: 100vw;
			margin-left: 50%;
			transform: translateX(-50%);
		}
	}
}