.shortcode_socials {
  vertical-align: middle;
  clear: both;
  margin: 5px -15px 15px -15px;
  display: block; }
  .shortcode_socials ul.mc_social_icons_list {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1em;
    font-size: 24px; }
    .shortcode_socials ul.mc_social_icons_list.left {
      text-align: left; }
    .shortcode_socials ul.mc_social_icons_list.center {
      text-align: center; }
    .shortcode_socials ul.mc_social_icons_list.right {
      text-align: right; }
    .shortcode_socials ul.mc_social_icons_list:before {
      content: " ";
      display: table;
      clear: both; }
    .shortcode_socials ul.mc_social_icons_list li.mc_social_icon {
      padding: 5px 15px;
      display: inline-block; }
      .shortcode_socials ul.mc_social_icons_list li.mc_social_icon a.mc_social_icon_link {
        -webkit-transition: opacity .2s;
        -o-transition: opacity .2s;
        transition: opacity .2s; }
        .shortcode_socials ul.mc_social_icons_list li.mc_social_icon a.mc_social_icon_link:hover {
          opacity: .5; }
  .shortcode_socials:before {
    content: " ";
    display: table;
    clear: both; }
