.main-inspector-wrapper {
    border-top: 1px solid #e2e4e7;
    > .components-base-control__label {
        display: block;
        padding: 16px;
    }
    > .components-base-control {
        padding: 16px 16px 0 16px;
    }
    button.render-results {
        margin: 0 16px;
    }
    hr {
        margin-bottom: 10px;
    }
    .category-result-wrapper {
        border-bottom: 1px solid #e2e4e7;
        max-height: 157px;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 0 16px 10px 16px;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            &.level-1 {
                margin-left: 10px;
            }

            &.level-2 {
                margin-left: 10px;
            }

            li {
                margin-bottom: 10px;
            }

            ul {
                margin-top: 10px;
            }
        }
        label {
            display: block;
            width: 100%;
            position: relative;
            transition: all .3s ease-in-out;

            sup {
                margin-left: 4px;
                color: #ccc;
            }

            .expand {
                position: absolute;
                right: 0;
                transition: all .3s ease-in-out;
            }

            &.expanded {
                .expand {
                    transform: rotateX(180deg);
                }
            }
        }
    }
}
